@use '../global' as c;

.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 24px;
    background-color: c.$soft-dark;
    z-index: 10000;
    position: relative;
}