@use '../global' as c;

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background-color: c.$soft-dark;
    position: relative;
    z-index: 10000;
    transition: 0.3s;
}

.header--active{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background-color: c.$soft-dark;
    position: fixed;
    z-index: 10000;
    transition: 0.3s;
}

.header-logo-figure{
    max-width: 200px;
}

.header-logo-img{
    width: 100%;
}

.header-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style: none;
}

.nav-item{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: c.$white;
    text-align: start;
}

.token-button{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: c.$white;
    border-radius: 20px;
    border: 1px solid c.$white;
    padding: 8px;
}

.token-button:hover{
    color: c.$primary;
    border: 1px solid c.$primary;
}



.nav-item--active{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: c.$primary;
}

.header-buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header-button-dark{
    background: none;
    border: none;
    cursor: pointer;
}

.header-button-login{
    @include c.button
}

.header-mobile-menu-button{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-icon{
    width: 20px;
    fill: c.$white;
    transform: scale(1.3);
}


.user-modal{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 20px;
    position: absolute;
    right: 0px;
    bottom: -185px;
    background-color: c.$soft-dark;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 6px 5px -3px rgba(138,149,151,0.36);
    -webkit-box-shadow: 0px 6px 5px -3px rgba(138,149,151,0.36);
    -moz-box-shadow: 0px 6px 5px -3px rgba(138,149,151,0.36);   
}

.user-modal-img{
    width: 100px;
    border-radius: 100%;
    overflow: hidden;
    img{
        width: 100%;
        object-fit: cover;
    }
}

.logout-button{
    @include c.button
}

.perfil-button{
    background: none;
    border: none;
    cursor: pointer;
}

.perfil-icon{
    fill: c.$white;
    scale: 1.8;
}

.user-modal-username{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    color: c.$white;
}

@media (max-width: 640px){
    .header-navbar{
        display: none;
    }
    .header-button-dark{
        display: none;
    }
    .header-mobile-menu-button{
        display: block;
    }
    .header-button-login{
        display: none;
    }
    .user-modal{
        display: none;
    }
    .perfil-button{
        display: none;
    }
}

@media (max-width: 768px){
    .header-navbar{
        display: none;
    }
    .header-button-dark{
        display: none;
    }
    .header-mobile-menu-button{
        display: block;
    }
    .header-button-login{
        display: none;
    }
    .user-modal{
        display: none;
    }
    .perfil-button{
        display: none;
    }
}


