@use '../global' as c;

.mobile-menu{
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    justify-items: start;
    gap: 18px;
    padding: 24px 8px;
    top: 0;
    position: fixed;
    background-color: c.$soft-dark;
    z-index: 10000;
    animation: modalAnimation 0.3s ease-in;
    animation-fill-mode: forwards;
}

.close-button-container{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 0 12px;
}

.close-button-icon{
    fill: c.$white;
}

.close-button{
    background: none;
    border: none;
    cursor: pointer;
}


.navbar-mobile{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: 24px;
    list-style: none;
}

.mobile-buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 8px;
    padding: 0 0 40px;
}

.button-icon{
    background: none;
    border: none;
    text-align: end;
}

.button-register-mobile{
    @include c.button;

}

@keyframes modalAnimation{
    from{
        transform: translate(50%);
    }
    to{
        transform: translate(0%);
    }
}