@use '../global' as c;

.news-container{
    width: 100%;
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    justify-items: center;
    padding: 20px;
    animation: opacity .5s linear;
    animation-fill-mode: forwards;
}

.new-card-container{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-card{
    min-width: 280px;
    max-width: 300px;
    height: 360px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: c.$white;
    border-radius: 20px;
    overflow: hidden;
    animation: opacity .5s linear;
    animation-fill-mode: forwards;
}

.new-card-img-figure{
    width: 100%;
    overflow: hidden;
}

.new-card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-card-text-container{
    display: grid;
    padding: 16px 8px;
}

.new-card-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: c.$dark;
    text-decoration: none;
    outline: none;
}

.new-card-description{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: c.$dark;
    text-decoration: none;
}

.new-card-date{
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: c.$dark;
    text-decoration: none;

}

.new-card-author-container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;

    figure{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        overflow: hidden;
        background-color: c.$dark;
    }
    img{
        width: 90%;
        object-fit: cover;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: c.$dark;
    }
}

.user-panel{
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 80px 16px 0;
    gap: 8px;
    position: fixed;
    animation: toRight .5s linear;
    animation-fill-mode: forwards;
}

.user-panel-figure{
    width: 100px;
    border-radius: 100%;
    overflow: hidden;
}

.user-panel-img{
    width: 100%;
    object-fit: cover;
}

.user-panel-username{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: c.$white
}

.search-news{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: c.$white;
    border-radius: 50px;
    padding: 4px 6px;
}

.input-news{
    width: 150px;
    border: none;
    border-radius: 50px;
    padding: 4px 6px;
    margin-right: 4px;
}

.input-news:focus{
    outline: none;
}

.button-search-news{
    background: none;
    border: none;
    cursor: pointer;
}

.filter-container{
    width: 100%;
    display: grid;
    justify-items: start;
    gap: 16px;
    padding: 16px 0;
}

.filter-button{
    background: none;
    border: 1px solid c.$terteary;
    font-family: Arial, Helvetica, sans-serif;
    color: c.$white;
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 16px;
}

.filter-button--active{
    border: 2px solid c.$primary;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
}

.filter-container--mobile{
    display: none;
}

@media (max-width: 640px){
    .news-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .user-panel{
        display: none;
    }
    .new-card{
        min-width: 320px;
    }
    .filter-container--mobile{
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
        
    }
    .filter-button{
        color: c.$white;
    }
}

@media (max-width: 768px){
    .news-container{
        grid-template-columns: 1fr 1fr;
    }
    .user-panel{
        display: none;
    }
    .filter-container--mobile{
        display: flex;
        gap: 16px;
        align-items: center;
        justify-content: center;
    }
    .filter-button{
        color: c.$white;
    }
    
}

@media(min-width: 1600px){
    .new-card{
        min-width: 420px;
        max-width: 420px;
    }
    .user-panel{
        width: 400px;
    }
}