@use '../global' as c;

.our-coin{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items:center ;
    align-items: center;
    padding: 88px 16px;
    margin: 72px 0;
    background-image: url(https://www.coinpinver.com/Subastaexchange/public/uploads/news/img/bg-our-coin.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
}

.coin-banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin-banner-figure{
    width: 80%;
}

.coin-banner-img{
    width: 100%;
    object-fit: cover;
}

.our-coin-text-container{
    display: grid;
    gap: 14px;
}

.our-coin-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: c.$white;
}

.our-coin-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: c.$white;
}

.coin-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.our-coin-button{
    @include c.button;
    padding: 16px 20px;
    width: 220px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: c.$dark;
    font-weight: bold;
}

.coin-video{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

@media(max-width: 640px){
    .our-coin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background-position: center;
        background-size: 100% 100%;
    }

    .our-coin-text-container{
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .our-coin-button{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .our-coin-title{
        text-align: center;
    }

    .our-coin-text{
        text-align: center;
    }
    .coin-banner-figure{
        width: 80%;
    }

    .coin-button-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}

@media (max-width: 768px){
    .our-coin{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background-position: center;
        background-size: 100% 100%;
    }

    .coin-button-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .our-coin-text-container{
        justify-items: center;
    }

    .our-coin-button{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .our-coin-title{
        text-align: center;
    }

    .our-coin-text{
        text-align: center;
    }
    .coin-banner-figure{
        width: 60%;
    }
    .coin-video{
        height: 300px;
    }
}

@media(min-width: 1600px){
    .coin-banner-figure{
        width: 60%;
    }
}