@use '../global' as c;

.news{
    background-color: c.$dark;
    min-height: 100vh;
}

.news-content{
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
}

@media (max-width: 640px){
    .news-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px){
    .news-content{
        grid-template-columns: none;
    }
}