$primary: #FFC629;
$secondary: #CD9F25;
$terteary: #737B82;
$found: #D9D9D9;
$white: #ffff;
$black: #000;
$soft-dark: #1E1E1E;
$nav-text: #6C7B7A;
$soft-yellow: #FFFF5A;
$bronce: #cd7f32;
$plata: #8a9597;
$oro: #f9ff29;
$dark: #171718;
$input: #f4f4f4;
$error: #ff0000;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $dark;
}

@mixin button{
    padding: 8px 20px;
    background-color: $primary;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

@mixin input{
    width: 200px;
    border: none;
    border-radius: 20px;
    background-color: $input;
}

@mixin input-label{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: $white;
}

@mixin error-text{
    font-family: Arial, Helvetica, sans-serif;
    color: $error;
}


.hidden{
    display: none;
}

@keyframes opacity{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

@keyframes toLeft{
    from{
        opacity: 0%;
        transform: translateX(20px);
    }
    to{
        opacity: 100%;
        transform: translateX(0px);
    }
}

@keyframes toRight{
    from{
        opacity: 0%;
        transform: translateX(-20px);
    }
    to{
        opacity: 100%;
        transform: translateX(0px);
    }
}

@keyframes toBottom{
    from{
        opacity: 0%;
        transform: translateY(-20px);
    }
    to{
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes toTop{
    from{
        opacity: 0%;
        transform: translateY(20px);
    }
    to{
        opacity: 100%;
        transform: translateY(0px);
    }
}
